
.header-banner {
    background-color: aquamarine;
}
.logo {
    width: 220px;
}
.navbar {
    background: none!important;
}
.nav-link {
    cursor: pointer;
    font-weight: 500;
}
.reg-btn {
    background: #3F90FC;
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    margin: 0 15px;
    color: white;
}
.adm-btn {
    background: #434141;
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    color: white;
}
.banner-text {
    padding-top: 50px;
    padding-bottom:25px;
}
.input-btn {
    padding-bottom: 35px;
}
.search-input {
    width: 300px;
    height: 47px;
    background: #FBFBFB;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;
    padding: 20px;
    outline: none!important;
}
.search-button {
    width: 80px;
    height: 48px;
    border: none;
    background: #3F90FC;
    border-radius: 0px 8px 8px 0px;
    outline: none!important;
    color: white;
}